html, body, #root {
  height: 100%;
  margin: 0;
}

main, section {
  background-color: transparent; /* o rgba si quieres algo translúcido */
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem;
}

.about, .projects, .contact {
  max-width: 800px;
  margin: 0 auto;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-top: 1rem;
}

.contact-form {
  max-width: 500px;
  margin-top: 1.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}